
<div class="wrapper">
	<!--列表-->
	<div class="liveListBox mt10">
		<div class="layout-justify back_fff h70 f16">
			<div class="layout ml15">
				<div class="h50 w50 p_r">
					<img src="images/ssjg_touxiang1@2x.png">
					<div class="liveListTxIcon p_a"></div>
				</div>
				<div class="ml10 mr10 col_333">主播名称</div>
				<div class="liveListInfoIcon"></div>
			</div>
			<div class="mr15">
				<div><em>123465</em>人</div>
				<div class="col_999 t_r">观看</div>
			</div>
		</div>
		<div class="liveListImg p_r w">
			<a href="#" class="show">
				<img src="images/img_bg@2x.png">
				<div class="ListliveStart p_a"></div>
				<div class="liveListTit p_a f16 col_fff">这里是直播标题</div>
			</a>
		</div>
	</div>
	<!--列表-->
	<div class="liveListBox mt10">
		<div class="layout-justify back_fff h70 f16">
			<div class="layout ml15">
				<div class="h50 w50 p_r">
					<img src="images/ssjg_touxiang1@2x.png">
					<div class="liveListTxIcon p_a"></div>
				</div>
				<div class="ml10 mr10 col_333">主播名称</div>
				<div class="liveListInfoIcon"></div>
			</div>
			<div class="mr15">
				<div><em>123465</em>人</div>
				<div class="col_999 t_r">观看</div>
			</div>
		</div>
		<div class="liveListImg p_r w">
			<a href="#" class="show">
				<img src="images/img_bg@2x.png">
				<div class="ListliveStart p_a"></div>
				<div class="liveListTit p_a f16 col_fff">这里是直播标题</div>
			</a>
		</div>
	</div>		
</div>