<include file="Public:header" />
<script type="text/javascript">
function edit(id){
	location.href="__URL__/edit/id/"+id;
}
//进入到下级
function xj(id){
	location.href="__URL__/index2/id/"+id;
}
function getnums(){
    var num = $("#nus").val();
    var pay_type = $("#pay_type").val();
    var start = $("#start").val();
    var end = $("#end").val();
    var username = $("#username").val();
    window.location.href="__URL__/index?nums="+num+"&start="+start+"&end="+end+"&username="+username+"&pay_type="+pay_type;
}
function sendname() {
    var num = $("#nus").val();
    var pay_type = $("#pay_type").val();
    var start = $("#start").val();
    var end = $("#end").val();
    var username = $("#username").val();
    window.location.href="__URL__/index?nums="+num+"&start="+start+"&end="+end+"&username="+username+"&pay_type="+pay_type;
}
</script>

<form action="javascript:;" method="post">
<div class="tools"> 
<!--<div class="add"><span><a href="__URL__/toadd">添加</a></span></div>-->
<!--<div class="del"><span><span><a href="javascript:;">-->
<!--<input name="dele" type="submit" value="删除" onclick="del();" class="wr"   style="border:none; background-color:#F2F7FD; color:#2D52A5;margin-top:3px;" /></a></span></div>-->

    <span style="float:left;padding-top:8px;">每页显示
        <select id="nus" onchange="getnums();">
          <volist name="nums" id="l">
             <option value="{$l}" <if condition=" $l eq $nus ">selected<else/></if>>{$l}</option>
              </volist>
        </select> 条
    </span>
    <span style="float:right;padding-right:50px;padding-top:5px;">
        类型: <select name="pay_type" id="pay_type" onchange="sendname()">
            <option value="">请选择</option>
            <option value="wx" <if condition=" $pay_type eq wx ">selected</if>>微信</option>
            <option value="alipay" <if condition=" $pay_type eq alipay ">selected</if>>支付宝</option>
        </select>
   &nbsp;&nbsp;日期： <input type="text" class="laydate-icon" name="start_time" id="start" size="20" value="{$start}" readonly> - <input type="text" class="laydate-icon" name="end_time" id="end" size="20" value="{$end}" readonly>
        关键词: <input type="text" name="username" id="username" value="{$username}" placeholder="输入账号、昵称、ID" size="30">
&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" name="button" value="搜索" id="button" onclick="sendname()">
</span>

</div>

<div class="content">

<!-----------------------------------------内容开始--------------------------------------------------->
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="tabBox">
<tr class="tabTitleMain">
    <!--<td width="8%" align="center">-->
    <!--<input type="checkbox" name="checkbox11" id="checkbox11"  onclick="return checkAll(this,'chois[]')"  value="0">全选</td>-->
    <td width="15%" align="center">充值编号</td>
    <td width="10%" align="center">账号</td>
    <td width="10%" align="center">名称</td>
    <td width="10%" align="center">金额</td>
    <td width="10%" align="center">平米</td>
    <td width="12%" align="center">时间</td>
    <td width="10%" align="center">支付类型</td>
    <!--<td width="15%" align="center">操作</td>-->
</tr>


<volist name='list' id='l' key='i'>
<tr class="tabTextMain" id="f_{$l.id}" onmouseout="this.style.background='#FFFFFF';" onmouseover="this.style.background='#fbf435';">
  <!--<td align="center"><input type="checkbox" class="deleteids" value="{$l.user_id}" name="chois[]"/>{$i}</td>-->

    <td align="center" class="onerow">{$l.pay_number}</td>
    <td align="center" class="onerow">{$l.phone}({$l.id})</td>
    <td align="center" class="onerow">{$l.username}</td>
    <td align="center" class="onerow">{$l.amount}</td>
    <td align="center" class="onerow">{$l.meters}</td>
    <td align="center" class="onerow">{$l.intime|date="Y-m-d H:i",###}</td>
    <td align="center" class="onerow">{$l.pay_type}</td>

  <!--<td align="center">-->
                  <!--<a href="{:U('toadd',array('id'=>$l['user_id']))}">编辑</a> | <a href="{:U('details',array('id'=>$l['user_id']))}">详情</a> | <a href="javascript:;"  onclick="del({$l.user_id});">删除</a>-->
               <!---->
               <!--</td>-->
</tr>
</volist>
</table> 
</form>
<div class="pages">{$show}</div>
<!-----------------------------------------内容结束--------------------------------------------------->
</div>

<script type="text/javascript">
function checkAll(e,chois)
{
	var aa=document.getElementsByName(chois);
	for(var i=0;i<aa.length;i++)
	{  
		aa[i].checked=e.checked;
	}
}
//function tips(itemName){
//    var f=false;
//    var aa=document.getElementsByName(itemName);
//	for(var i=0;i<aa.length;i++){
// 		if(aa[i].checked==true){
//  	 		f=true;
// 		}
//	}
//	if(f==false){
//		alert("请选择要删除的选项");
//		return false;
//	}else{
//  return  confirm("一旦删除不可修复，确定删除吗？");
//}
//return true;
//}

function del(kid){
    kid = kid ? kid : getChecked();
    kid = kid.toString();
    if(kid == ''){
        alert("请选择要删除的选项");
        return false;
    }
    if(!confirm('确定删除？'))
        return false;
    $.post("{:U('del')}", {ids:kid}, function(v){
        if( v == 1 ){
            alert('删除成功！');
            location.reload("{:U('index')}");
        }else{
            alert('删除失败！');
        }
    });
}
function getChecked() {
    var gids = new Array();
    $.each($('input:checked'), function(i, n){
        gids.push( $(n).val() );
    });
    return gids;
}
</script>
<script>
    layui.use('laydate', function(){
        var laydate = layui.laydate;
        var start = {
            elem: '#start',
            format: 'YYYY-MM-DD hh:mm:ss',
            //min: laydate.now(), //设定最小日期为当前日期
            max: '2099-06-16', //最大日期
            istime: false,
            istoday: false,
            choose: function(datas){
                $("#start").attr("value",datas);
                end.min = datas; //开始日选好后，重置结束日的最小日期
                end.start = datas //将结束日的初始值设定为开始日
            }
        };
        var end = {
            elem: '#end',
            format: 'YYYY-MM-DD hh:mm:ss',
            //min: laydate.now(),
            max: '2099-06-16',
            istime: false,
            istoday: false,
            choose: function(datas){
                $("#end").attr("value",datas);
                start.max = datas; //结束日选好后，重置开始日的最大日期
            }
        };
        document.getElementById('start').onclick = function(){
            start.elem = this;
            laydate(start);
        }
        document.getElementById('end').onclick = function(){
            end.elem = this
            laydate(end);
        }
    });
</script>
    

<include file="Public:footer" />
