<include file="Public:header" />
<load href="__PUBLIC__/admin/js/uploadify.css" />
<load href="__PUBLIC__/admin/js/swfobject.js" />
<script type="text/javascript" src="__PUBLIC__/admin/js/jquery.uploadify.v2.1.4.min.js"></script>

<script type="text/javascript">
    $(function($) {
        $("#file_upload2").uploadify({
            'uploader'       : '__PUBLIC__/admin/js/uploadify.swf',
            'script'         : '__PUBLIC__/admin/js/uploadify.php',
            'cancelImg'      : '__PUBLIC__/admin/images/cancel.png',
            'folder'         : '__PUBLIC__/admin/Uploads/touxiang',  //保存路径
            'queueID'        : 'fileQueue2',
            'sizeLimit'      :	10 * 1000 * 1024,
            'buttonImg'      : '__PUBLIC__/admin/images/llsc.jpg',
            'width'          :  85,
            'height'          :  28,
            'fileExt'        : '*.jpg;*.gif;*.png;', //允许文件上传类型,和fileDesc一起使用.
            'fileDesc'       : '*.jpg;*.gif;*.png;',  //选择文件对话框中的提示文本.
            'auto'           : true,
            'multi'          : false,
            'onComplete':function(event,queueId,fileObj,response,data){
                $('input[name="logo"]').val(response);
                $('#pic2').attr('src', response);
            }
        });

    });
</script>
<SCRIPT language=JavaScript>
    function checkss(){
        var id = $("#id").val();
        var phone    = $("#phone").val();
        if(phone==''){
            $(".yzphone").html('请输入员工姓名！');
            $("#phone").focus();
            return false;
        }
    }

    function area_linke1(value){
        $.post("{:U('get_area')}", {value:value,type:1}, function(v){

            $("#shi").html(v);

        });
    }
    function area_linke2(value){
        $.post("{:U('get_area')}", {value:value,type:2}, function(v){

            $("#qu").html(v);

        });
    }
</script>
<div class="content">
    <!-----------------------------------------内容开始--------------------------------------------------->
    <div class="infoBox">
        <form name="form" action="{:U('member_doadd')}"  method="post" onsubmit="return checkss();" enctype="multipart/form-data">
            <table width="90%" border="0" cellpadding="0" cellspacing="0" id="basic">
                <input type="hidden" value="{$m.id}" name="id" id="id">
                <tr>
                    <td  width="10%" class="infoBoxTd"><div style="width:55px;">姓名:</div></td>
                    <td ><input type="text" id="real_name"  name="real_name" value="{$m.real_name}" style="width:250px;" placeholder="">&nbsp;&nbsp;<span class="yzphone" style="color:red"></span>
                    </td>
                </tr>
                <tr>
                    <td  width="10%" class="infoBoxTd"><div style="width:55px;">身份证号:</div></td>
                    <td ><input type="text" id=""  name="card_id" value="{$m.card_id}" style="width:250px;">&nbsp;&nbsp;&nbsp;
                        <if condition=" $u.user_id eq '' "><else/>ID: <input type="text" id="ID"  name="ID" value="{$u.card_id}" readonly style="width:180px;background-color: #DDDDDD">&nbsp;&nbsp;&nbsp;</if>
                    </td>
                </tr>
                <tr>
                    <td  width="10%" class="infoBoxTd"><div style="width:55px;">员工编号:</div></td>
                    <td ><input type="text" id=""  name="employee_id" value="{$m.employee_id}" style="width:250px;">&nbsp;&nbsp;&nbsp;
                        <if condition=" $u.user_id eq '' "><else/>ID: <input type="text" id="ID"  name="employee_id" value="{$m.employee_id}" readonly style="width:180px;background-color: #DDDDDD">&nbsp;&nbsp;&nbsp;</if>
                    </td>
                </tr>
                <tr>
                    <td  width="10%" class="infoBoxTd"><div style="width:55px;">性别:</div></td>
                    <td colspan="2">
                        <input type="radio" name="sex" value="1" <if condition=" $u.sex eq 1 ">checked=checked<else/></if>>男&nbsp;&nbsp;
                        <input type="radio" name="sex" value="2" <if condition=" $u.sex eq 2 ">checked=checked<else/></if>>女
                    </td>
                </tr>
            </table>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td class="infoBoxTd">&nbsp;</td>
                    <td align="left"><input type="submit" name="submit" value="保存" class="formInput01" /></td>
                </tr>
            </table>
        </form>
    </div>
    <script>
        KindEditor.ready(function(K) {
            k1 = K.create('#content', {});
            k2 = K.create('#content2', {});
            k3 = K.create('#content3', {});

        });
        ///var ue = UE.getEditor('content');
        ///var ue = UE.getEditor('content2');
        ///var ue = UE.getEditor('content3');
    </script>
    <!-----------------------------------------内容结束--------------------------------------------------->
</div>
<include file="Public:footer" />
