<include file="Public:header" />
<load href="__PUBLIC__/admin/js/uploadify.css" />
<load href="__PUBLIC__/admin/js/swfobject.js" />
<script type="text/javascript" src="__PUBLIC__/admin/js/jquery.uploadify.v2.1.4.min.js"></script>

<script type="text/javascript">
 $(function($) {
	$("#file_upload2").uploadify({
	 		'uploader'       : '__PUBLIC__/admin/js/uploadify.swf',
	 		'script'         : '__PUBLIC__/admin/js/uploadify.php',
	 		'cancelImg'      : '__PUBLIC__/admin/images/cancel.png',
	 		'folder'         : '__PUBLIC__/admin/Uploads/touxiang',
	 		'queueID'        : 'fileQueue2',
	 		'sizeLimit'      :	50 * 1000 * 1024,
			'buttonImg'      : '__PUBLIC__/admin/images/llsc.jpg',
			'width'          :  85,
			'height'          :  28,
	 		'fileExt'        : '*.jpg;*.gif;*.png;', //允许文件上传类型,和fileDesc一起使用.
	 		'fileDesc'       : '*.jpg;*.gif;*.png;',  //选择文件对话框中的提示文本.
	 		'auto'           : true,
	 		'multi'          : false,
	 		'onComplete':function(event,queueId,fileObj,response,data){
	 			$('input[name="logo"]').val(response);
	 			$('#pic2').attr('src', response);
	 		}
	 	});

	 });
 $(function($) {
     $("#file_upload3").uploadify({
         'uploader'       : '__PUBLIC__/admin/js/uploadify.swf',
         'script'         : '__PUBLIC__/admin/js/uploadify.php',
         'cancelImg'      : '__PUBLIC__/admin/images/cancel.png',
         'folder'         : '__PUBLIC__/admin/Uploads/video',
         'queueID'        : 'fileQueue2',
         'sizeLimit'      :	100 * 1000 * 1024,
         'buttonImg'      : '__PUBLIC__/admin/images/llsc.jpg',
         'width'          :  85,
         'height'          :  28,
         'fileExt'        : '*.mp4;*.rmvb;*.mov;*.flv;', //允许文件上传类型,和fileDesc一起使用.
         'fileDesc'       : '*.mp4;*.rmvb;*.mov;*.flv;',  //选择文件对话框中的提示文本.
         'auto'           : true,
         'multi'          : false,
         'onComplete':function(event,queueId,fileObj,response,data){
             $('input[name="video"]').val(response);
             //$('#pic2').attr('src', response);
         }
     });

 });
</script>
<SCRIPT language=JavaScript>
	     function checkss(){
//             var id = $("#id").val();
//	    	 var phone    = $("#phone").val();
//	    	 if(phone==''){
//                 $(".yzphone").html('填写账号！');
//                 $("#phone").focus();
//                 return false;
//	    	 }else {
//                 $(".yzphone").html('');
//                 var result=false;
//                 $.ajax({async:false//要设置为同步的，要不CheckUserName的返回值永远为false
//                     ,url:'{:U("yzmobile")}',data:{id:id,mobile:phone}
//                     ,success:function(data){
//                         if(data == 1){
//                             $(".yzphone").html('账号已注册');
//                             $("#phone").focus();
//                             result = false;
//                         } else {
//                             result = true;
//                         }
//                     }});
//                 return result;
//             }
//
	     }

         function area_linke1(value){
             $.post("{:U('User/get_area')}", {value:value,type:1}, function(v){

                 $("#shi").html(v);

             });
         }
         function area_linke2(value){
             $.post("{:U('User/get_area')}", {value:value,type:2}, function(v){

                 $("#qu").html(v);

             });
         }
	</script>
<div class="content">
<!-----------------------------------------内容开始--------------------------------------------------->
<div class="infoBox">
<form name="form" action="{:U('doadd_video')}"  method="post" onsubmit="return checkss();">
<table width="90%" border="0" cellpadding="0" cellspacing="0" id="basic">
               <input type="hidden" value="{$u.video_id}" name="id" id="id">
                <tr>
                  <td  width="10%" class="infoBoxTd"><div style="width:55px;">标题:</div></td>
		  		  <td ><input type="text" id="title"  name="title" value="{$u.title}" style="width:60%;font-size: 13px">&nbsp;&nbsp;&nbsp;
                  </td>
                </tr>
                <tr>
                    <td  width="10%" class="infoBoxTd"><div style="width:55px;">作者:</div></td>
                    <td ><input type="text" id="username"  name="username" value="{$u.username}" style="width:250px;">&nbsp;&nbsp;&nbsp;
                    </td>
                </tr>
                <tr>
                    <td  width="10%" class="infoBoxTd"><div style="width:55px;">标签:</div></td>
                    <td colspan="2">
                        <select name="lebels" id="lebels">
                            <volist name="lebel" id="l">
                                <option value="{$l.name}" <if condition=" $l.name eq $u.lebel ">selected</if>>{$l.name}</option>
                            </volist>
                        </select>
                    </td>
                </tr>
                <tr>
                  <td  width="2%"  style="text-align:right;color:#2d52a5"><div style="width:55px;">封面图:</div></td>
		  		  <td colspan="2">
		  		  <div class="upimg-box"><div id="fileQueue2"></div>
                  <input id="file_upload2" type="file" />
                  <input name="logo" type="hidden" id="fileDoc" value="{$u.play_img}" />
                  &nbsp;&nbsp;<img  id="pic2" src="<if condition='$u.play_img eq "" '>__PUBLIC__/admin/images/nopic.gif<else/>{$u.play_img}</if>" width="110"  height="60"/>
                 </div>
		  		  </td>
                </tr>
                <tr>
                    <td  width="2%"  style="text-align:right;color:#2d52a5"><div style="width:55px;">视频:</div></td>
                    <td colspan="2">
                        <div class="upimg-box"><div id="fileQueue3"></div>
                            <input id="file_upload3" type="file" />
                            <input name="video" type="text" id="fileDoc3" style="width: 70%" value="{$u.url}" />
                            <!--&nbsp;&nbsp;<img  id="pic3" src="<if condition='$u.img eq "" '>__PUBLIC__/admin/images/nopic.gif<else/>{$u.img}</if>" width="110"  height="60"/>-->
                        </div>
                    </td>
                </tr>
    <!--<tr>-->
        <!--<td style="text-align:right;color:#2d52a5">地址:</td>-->
        <!--<td>-->
            <!--<select name="sheng" onchange="area_linke1(this.value)">-->
                <!--<option value="">请选择</option>-->
                <!--<volist name="sheng" id="l">-->
                    <!--<option value="{$l.id}" <if condition=" $u.sheng eq $l.name ">selected<else/></if>>{$l.name}</option>-->
                <!--</volist>-->
            <!--</select>-->
            <!--<select name="shi" id="shi" onchange="area_linke2(this.value)">-->
                <!--<if condition=" $u.shi2 eq null "><else/>-->
                    <!--<option value=''>请选择（市）</option>-->
                    <!--<volist name="u.shi2" id="s">-->
                        <!--<option value="{$s.id}" <if condition=" $u.city_id eq $s.id ">selected<else/></if>>{$s.name}</option>-->
                    <!--</volist>-->
                <!--</if>-->
            <!--</select>-->
        <!--</td>-->
    <!--</tr>-->
    <tr>
        <td  width="10%" class="infoBoxTd"><div style="width:55px;">日期:</div></td>
        <td ><input type="text" class="laydate-icon" name="riqi" id="start" style="width:232px;" value="{$u.intime}" readonly>&nbsp;<span>注:如果不选,则是当前日期</span>
        </td>
    </tr>
    <tr>
        <td style="text-align:right;color:#2d52a5">地址:</td>
        <td>
            省: <input name="sheng" type="text" id="sheng" style="width: 20%" value="{$u.sheng}" />
            市: <input name="shi" type="text" id="shi" style="width: 20%" value="{$u.shi}" />
        </td>
    </tr>
                
              
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td class="infoBoxTd">&nbsp;</td>
<td align="left"><input type="submit" name="submit" value="保存" class="formInput01" /></td>
</tr>
</table>
</form>
</div>
<script>
KindEditor.ready(function(K) {
    k1 = K.create('#content', {});
    k2 = K.create('#content2', {});
    k3 = K.create('#content3', {});

});
///var ue = UE.getEditor('content');
///var ue = UE.getEditor('content2');
///var ue = UE.getEditor('content3');
</script>
    <script>
        layui.use('laydate', function(){
            var laydate = layui.laydate;
            var start = {
                elem: '#start',
                format: 'YYYY-MM-DD hh:mm:ss',
                //min: laydate.now(), //设定最小日期为当前日期
                max: '2099-06-16', //最大日期
                istime: true,
                istoday: false,
                choose: function(datas){
                    $("#start").attr("value",datas);
                    end.min = datas; //开始日选好后，重置结束日的最小日期
                    end.start = datas //将结束日的初始值设定为开始日
                }
            };
            var end = {
                elem: '#end',
                format: 'YYYY-MM-DD hh:mm:ss',
                //min: laydate.now(),
                max: '2099-06-16',
                istime: true,
                istoday: false,
                choose: function(datas){
                    $("#end").attr("value",datas);
                    start.max = datas; //结束日选好后，重置开始日的最大日期
                }
            };
            document.getElementById('start').onclick = function(){
                start.elem = this;
                laydate(start);
            }
            document.getElementById('end').onclick = function(){
                end.elem = this
                laydate(end);
            }
        });
    </script>
<!-----------------------------------------内容结束--------------------------------------------------->
</div>
<include file="Public:footer" />
